# Data Cleaning

In [36]:
import pandas as pd

In [37]:
df = pd.read_csv('tmdb-movies.csv')

In [38]:
df.head(3)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08

In [39]:
df.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [40]:
df = df[['budget', 'revenue', 'runtime','release_year', 'genres', 'original_title', 'cast']]

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   budget          10866 non-null  int64
 1   revenue         10866 non-null  int64
 2   runtime         10866 non-null  int64
 3   release_year    10866 non-null  int64
 4   genres          10843 non-null  object
 5   original_title  10866 non-null  object
 6   cast            10790 non-null  object
dtypes: int64(4), object(3)
memory usage: 594.4+ KB

In [42]:
df.shape

(10866, 7)

In [43]:
#removing null values
df = df.dropna()

In [44]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10768 entries, 0 to 10865
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   budget          10768 non-null  int64
 1   revenue         10768 non-null  int64
 2   runtime         10768 non-null  int64
 3   release_year    10768 non-null  int64
 4   genres          10768 non-null  object
 5   original_title  10768 non-null  object
 6   cast            10768 non-null  object
dtypes: int64(4), object(3)
memory usage: 673.0+ KB

In [45]:
#treating values of zero in the budget and revenue field as missing(as it is given in description of database > https://www.kaggle.com/tmdb/tmdb-movie-metadata)
df = df[df.budget != 0]
df = df[df.revenue != 0]

In [46]:
df.shape

(3851, 7)

In [47]:
df = df.drop_duplicates()

In [48]:
df.shape

(3850, 7)

# Question-1 Which are the movies with the third-lowest and third-highest budget?

In [49]:
unique_values_of_budget = df['budget'].unique()

In [50]:
type(unique_values_of_budget)

numpy.ndarray

In [51]:
import numpy as np
third_largest_budget = np.sort(unique_values_of_budget)[-3]
third_smallest_budget = np.sort(unique_values_of_budget)[2]

In [52]:
np.sort(unique_values_of_budget)

array([        1,         2,         3,         6,         8,        10,
              11,        15,        20,        21,        25,        30,
              68,        75,        93,       113,       114,      7000,
            8000,     10000,     12000,     15000,     17000,     25000,
           27000,     30000,     31192,     40000,     45202,     50000,
           60000,     65000,     74050,     79000,     85000,    100000,
          125000,    130000,    134005,    160000,    169000,    200000,
          220000,    230000,    250000,    300000,    318000,    350000,
          400000,    425000,    441892,    447524,    450000,    475000,
          500000,    550000,    569217,    600000,    645180,    650000,
          700000,    725000,    750000,    777000,    786675,    800000,
          806948,    810000,    818418,    823258,    850000,    860000,
          900000,    930000,    950000,    967686,    994000,   1000000,
         1052753,   1100000,   1200000,   1250000,   1300000,   1350000,
         1500000,   1549000,   1600000,   1700000,   1746964,   1750000,
         1800000,   1880006,   1900000,   1987650,   2000000,   2079000,
         2135161,   2200000,   2300000,   2380000,   2400000,   2410000,
         2500000,   2550000,   2600000,   2650000,   2700000,   2800000,
         2840000,   2900000,   2962051,   3000000,   3200000,   3300000,
         3352254,   3400000,   3500000,   3500159,   3600000,   3700000,
         3705538,   3716946,   3730500,   3800000,   4000000,   4100000,
         4180000,   4200000,   4317946,   4361898,   4500000,   4600000,
         4653000,   4700000,   4750000,   4798235,   4800000,   4900000,
         5000000,   5037000,   5115000,   5200000,   5500000,   5600000,
         5773100,   5800000,   5900000,   5952000,   5990000,   6000000,
         6200000,   6244087,   6300000,   6400000,   6500000,   6600000,
         6700000,   6800000,   6900000,   7000000,   7200000,   7300000,
         7400000,   7500000,   7700000,   7800000,   7920000,   8000000,
         8045760,   8169363,   8200000,   8256269,   8376800,   8500000,
         8900000,   9000000,   9100000,   9500000,   9600000,  10000000,
        10200000,  10284523,  10500000,  10700000,  10800000,  10831173,
        10900000,  11000000,  11500000,  11700000,  11800000,  11930000,
        12000000,  12250000,  12300000,  12305523,  12468389,  12500000,
        12600000,  12700000,  12800000,  13000000,  13200000,  13300000,
        13500000,  13800000,  14000000,  14200000,  14350531,  14400000,
        14500000,  14600000,  14700000,  14800000,  15000000,  15500000,
        15774948,  16000000,  16400000,  16500000,  16800000,  17000000,
        17080000,  17500000,  17700000,  17900000,  18000000,  18500000,
        18598420,  19000000,  19100000,  19250000,  19500000,  19800000,
        19885552,  20000000,  20500000,  21000000,  21150000,  22000000,
        22500000,  22700000,  23000000,  23600000,  24000000,  24500000,
        25000000,  25100000,  25485000,  25500000,  25530000,  26000000,
        26350000,  27000000,  27220000,  27500000,  28000000,  29000000,
        29500000,  30000000,  30250000,  31000000,  31115000,  31500000,
        32000000,  32350000,  32500000,  33000000,  34000000,  34200000,
        35000000,  36000000,  37000000,  37665000,  37931000,  38000000,
        39000000,  40000000,  40600000,  41000000,  41300000,  42000000,
        43000000,  44000000,  44500000,  45000000,  46000000,  47000000,
        48000000,  49000000,  49900000,  50000000,  50100000,  50200000,
        51000000,  51500000,  52000000,  52500000,  53000000,  54000000,
        55000000,  56000000,  57000000,  58000000,  58800000,  59000000,
        60000000,  60795000,  61000000,  62000000,  63000000,  63600000,
        64000000,  65000000,  66000000,  67000000,  68000000,  69000000,
        70000000,  71000000,  72000000,  72500000,  73000000,  74000000,
        74500000,  75000000,  76000000,  78000000,  78146652,  79000000,
        80000000,  81000000,  82000000,  82500000,  83000000,  84000000,
        85000000,  86000000,  87000000,  88000000,  90000000,  92000000,
        93000000,  94000000,  95000000,  98000000,  99000000, 100000000,
       102000000, 103000000, 105000000, 107000000, 108000000, 110000000,
       112000000, 113000000, 115000000, 116000000, 117000000, 120000000,
       120000001, 123000000, 125000000, 126000000, 127000000, 127500000,
       130000000, 132000000, 133000000, 135000000, 137000000, 139000000,
       140000000, 145000000, 149000000, 150000000, 155000000, 160000000,
       163000000, 165000000, 170000000, 175000000, 176000003, 178000000,
       180000000, 185000000, 190000000, 195000000, 200000000, 207000000,
       209000000, 210000000, 215000000, 220000000, 225000000, 237000000,
       245000000, 250000000, 255000000, 258000000, 260000000, 270000000,
       280000000, 300000000, 380000000, 425000000], dtype=int64)

In [53]:
third_largest_budget

300000000

In [54]:
third_smallest_budget #budget=0 is considered as missing!

3

In [62]:
df[df['budget']==third_largest_budget][['original_title']]  #third-largest-budget

                                original_title
7387  Pirates of the Caribbean: At World's End

In [56]:
df[df['budget']==third_smallest_budget][['original_title']] #third-smallest-budget

                           original_title
2398                                  Boy
10050  Tales from the Darkside: The Movie

# Question-2 What is the most common Genre for Vin Diesel & Emma Watson movies?

In [22]:
df_vin = df[df['cast'].str.contains('Vin Diesel')]

In [23]:
df_vin

,budget,revenue,runtime,release_year,genres,original_title,cast
4,190000000,1506249360,137,2015,Action|Crime|Thriller,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...
41,90000000,140396650,106,2015,Fantasy|Action|Adventure,The Last Witch Hunter,Vin Diesel|Rose Leslie|Michael Caine|Elijah Wo...
630,170000000,773312399,121,2014,Action|Science Fiction|Adventure,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...
1539,85000000,363164265,107,2009,Action|Crime|Drama|Thriller,Fast & Furious,Vin Diesel|Paul Walker|Jordana Brewster|Michel...
2438,70000000,23159305,86,1999,Adventure|Animation|Family|Fantasy|Science Fic...,The Iron Giant,Jennifer Aniston|Harry Connick Jr.|Vin Diesel|...
2753,38000000,207283925,106,2001,Action|Crime|Thriller,The Fast and the Furious,Paul Walker|Vin Diesel|Michelle Rodriguez|Jord...
2766,15000000,12000000,92,2001,Crime|Thriller,Knockaround Guys,Barry Pepper|Andy Davoli|Seth Green|Vin Diesel...
2942,70000000,72108608,101,2008,Action|Adventure|Science Fiction|Thriller,Babylon A.D.,Vin Diesel|Michelle Yeoh|MÃƒÂ©lanie Thierry|Lamb...
3619,125000000,626137675,130,2011,Action|Thriller|Crime,Fast Five,Vin Diesel|Paul Walker|Dwayne Johnson|Jordana ...
3924,70000000,277448382,124,2002,Action,xXx,Vin Diesel|Asia Argento|Marton Csokas|Samuel L...
4974,36000000,44350926,109,2003,Action|Drama,A Man Apart,Vin Diesel|Larenz Tate|Timothy Olyphant|Geno S...
5437,38000000,98337295,119,2013,Science Fiction|Action|Thriller,Riddick,Vin Diesel|Karl Urban|Katee Sackhoff|Jordi Mol...
5650,160000000,788679850,130,2013,Action|Thriller|Crime,Fast & Furious 6,Paul Walker|Vin Diesel|Dwayne Johnson|Jordana ...
6204,56000000,113006880,95,2005,Action|Comedy|Drama|Family|Thriller,The Pacifier,Vin Diesel|Lauren Graham|Faith Ford|Chris Pott...
7024,105000000,115772733,119,2004,Adventure|Action|Thriller|Science Fiction,The Chronicles of Riddick,Vin Diesel|Christina Cox|Colm Feore|Karl Urban...
8684,23000000,53187659,109,2000,Thriller|Science Fiction|Action,Pitch Black,Vin Diesel|Radha Mitchell|Cole Hauser|Rhiana G...
8685,26000000,28780255,118,2000,Crime|Drama|Thriller,Boiler Room,Giovanni Ribisi|Vin Diesel|Nia Long|Tom Everet...

In [24]:
genres_list_for_vin = df_vin['genres'].str.split('|')
genres_list_for_vin

4                               [Action, Crime, Thriller]
41                           [Fantasy, Action, Adventure]
630                  [Action, Science Fiction, Adventure]
1539                     [Action, Crime, Drama, Thriller]
2438    [Adventure, Animation, Family, Fantasy, Scienc...
2753                            [Action, Crime, Thriller]
2766                                    [Crime, Thriller]
2942       [Action, Adventure, Science Fiction, Thriller]
3619                            [Action, Thriller, Crime]
3924                                             [Action]
4974                                      [Action, Drama]
5437                  [Science Fiction, Action, Thriller]
5650                            [Action, Thriller, Crime]
6204            [Action, Comedy, Drama, Family, Thriller]
7024       [Adventure, Action, Thriller, Science Fiction]
8684                  [Thriller, Science Fiction, Action]
8685                             [Crime, Drama, Thriller]
Name: genres, dtype: object

In [25]:
unique_genres_for_vin={}
for i in genres_list_for_vin:
    for j in i:
        if j not in unique_genres_for_vin:
            unique_genres_for_vin[j]=1
        else:
            unique_genres_for_vin[j]=unique_genres_for_vin[j]+1
unique_genres_for_vin

{'Action': 14,
 'Crime': 7,
 'Thriller': 12,
 'Fantasy': 2,
 'Adventure': 5,
 'Science Fiction': 6,
 'Drama': 4,
 'Animation': 1,
 'Family': 2,
 'Comedy': 1}

In [26]:
most_common_genre_for_vin = max(unique_genres_for_vin, key=unique_genres_for_vin.get)
print("Most common genre for Vin Diesel : ",most_common_genre_for_vin)

Most common genre for Vin Diesel :  Action

In [27]:
df_emma = df[df['cast'].str.contains('Emma Watson')]
df_emma

,budget,revenue,runtime,release_year,genres,original_title,cast
686,125000000,362637473,139,2014,Drama|Adventure,Noah,Russell Crowe|Jennifer Connelly|Emma Watson|Lo...
1389,250000000,933959197,153,2009,Adventure|Fantasy|Family,Harry Potter and the Half-Blood Prince,Daniel Radcliffe|Rupert Grint|Emma Watson|Tom ...
1923,250000000,954305868,146,2010,Adventure|Fantasy|Family,Harry Potter and the Deathly Hallows: Part 1,Daniel Radcliffe|Emma Watson|Rupert Grint|Ralp...
2634,125000000,976475550,152,2001,Adventure|Fantasy|Family,Harry Potter and the Philosopher's Stone,Daniel Radcliffe|Rupert Grint|Emma Watson|John...
3020,60000000,50877145,100,2008,Animation|Comedy|Family,The Tale of Despereaux,Matthew Broderick|Dustin Hoffman|Emma Watson|T...
3374,125000000,1327817822,130,2011,Adventure|Family|Fantasy,Harry Potter and the Deathly Hallows: Part 2,Daniel Radcliffe|Rupert Grint|Emma Watson|Alan...
3912,100000000,876688482,161,2002,Adventure|Fantasy|Family,Harry Potter and the Chamber of Secrets,Daniel Radcliffe|Rupert Grint|Emma Watson|Kenn...
4388,13000000,33400000,102,2012,Drama|Romance,The Perks of Being a Wallflower,Logan Lerman|Emma Watson|Ezra Miller|Paul Rudd...
5546,15000000,19145732,90,2013,Drama|Crime,The Bling Ring,Emma Watson|Israel Broussard|Taissa Farmiga|Ka...
6190,150000000,895921036,157,2005,Adventure|Fantasy|Family,Harry Potter and the Goblet of Fire,Daniel Radcliffe|Rupert Grint|Emma Watson|Ralp...
6962,130000000,789804554,141,2004,Adventure|Fantasy|Family,Harry Potter and the Prisoner of Azkaban,Daniel Radcliffe|Rupert Grint|Emma Watson|Gary...
7388,150000000,938212738,138,2007,Adventure|Fantasy|Family|Mystery,Harry Potter and the Order of the Phoenix,Daniel Radcliffe|Rupert Grint|Emma Watson|Mich...

In [28]:
genres_list_for_emma = df_emma['genres'].str.split('|')
genres_list_for_emma

686                        [Drama, Adventure]
1389             [Adventure, Fantasy, Family]
1923             [Adventure, Fantasy, Family]
2634             [Adventure, Fantasy, Family]
3020              [Animation, Comedy, Family]
3374             [Adventure, Family, Fantasy]
3912             [Adventure, Fantasy, Family]
4388                         [Drama, Romance]
5546                           [Drama, Crime]
6190             [Adventure, Fantasy, Family]
6962             [Adventure, Fantasy, Family]
7388    [Adventure, Fantasy, Family, Mystery]
Name: genres, dtype: object

In [29]:
unique_genres_for_emma={}
for i in genres_list_for_emma:
    for j in i:
        if j not in unique_genres_for_emma:
            unique_genres_for_emma[j]=1
        else:
            unique_genres_for_emma[j]=unique_genres_for_emma[j]+1
unique_genres_for_emma

{'Drama': 3,
 'Adventure': 9,
 'Fantasy': 8,
 'Family': 9,
 'Animation': 1,
 'Comedy': 1,
 'Romance': 1,
 'Crime': 1,
 'Mystery': 1}

In [30]:
most_common_genre_for_emma = max(unique_genres_for_emma, key=unique_genres_for_emma.get)
print("Most common genre for Emma Watson : ",most_common_genre_for_emma)

Most common genre for Emma Watson :  Adventure

# Question-3 Which are the movies with the most and least earned revenue?

In [31]:
min_val = df['revenue'].min()
max_val = df['revenue'].max()
print("Highest revenue : ",max_val)
df_max = df[df.revenue == max_val]['original_title']
print("Movie Which Has Highest revenue :")
for val in df_max.values:
    print(">"+val)
print("\nLowest revenue : ",min_val)
df_min = df[df.revenue == min_val]['original_title']
print("Movie Which Has Lowest revenue : ")
for val in df_min.values:
    print(">"+val)

Highest revenue :  2781505847
Movie Which Has Highest revenue :
>Avatar

Lowest revenue :  2
Movie Which Has Lowest revenue :
>Shattered Glass
>Mallrats

# Question-4  What is the average runtime of movies in the year 2006?

In [32]:
print("Average Runtime: ",(df[df['release_year']==2006][['runtime']].mean().values)[0])

Average Runtime:  108.18934911242603